$main-color: #0F0F11;
$gray-color: #89939A;
$gray-color-2: #B4BDC3;
$clear-gray-color: #E2E6E9;
$clear-gray-color-2: #FAFBFC;
$white-color: #FFF;
$orange-color: #F86800;
$blue-color: #476DF4;
$gree-color: #27AE60;
$red-color: #EB5757;